<div class="container-fluid">
    <div class="row homevideobox ">
        <div class="col-xs-6 ">
            <div class="homevideoboxpart1">
                <img src="images/homevideo1.png" >
            </div>
        </div>
        <div class="col-xs-6 ">
            <div class="homevideoboxpart2">
                <img src="images/homevideo2.png" >
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <ul class="nav nav-tabs nav-justified hometab">
            <li ng-class="{active: tabtoshow == 'competitions'}"><a data-toggle="tab" ng-click="tabtoshow = 'competitions'" >Leagues and Matches</a></li>
            <li ng-class="{active: tabtoshow == 'fee'}"><a data-toggle="tab" ng-click="tabtoshow = 'fee'" >Entry fees</a></li>
            <li ng-class="{active: tabtoshow == 'entrants'}"><a data-toggle="tab" ng-click="tabtoshow = 'entrants'" >Entrants</a></li>
            <li ng-class="{active: tabtoshow == 'prize'}"><a data-toggle="tab" ng-click="tabtoshow = 'prize'" >Prizes</a></li>
            <!--<li class="text-center"><button class="btn btn-danger" ng-click="clearFilters()">Clear Filters</button></a></li>-->
            <li><a data-toggle="tab" > <button class="greenbtnbg createcontstbtn" ui-sref="master.createcontest"> Create a contest</button></a></li>
        </ul>

        <div class="tab-content">
            <div id="menu3" ng-class="{active: tabtoshow == 'fee'}" class="tab-pane fade in">
                <div class="row text-center">
                    <label style="padding: 10px;">
                        <input class="replace" type="radio" ng-checked="true" ng-model="filtermods.fee" value="100" ng-change="setfee(0,100)" name="feemod">
                        <div></div> € 0-100
                    </label>
                    <label style="padding: 10px;">
                        <input class="replace" type="radio" ng-model="filtermods.fee" value="200" ng-change="setfee(101,500)" name="feemod">
                        <div></div> € 101-500
                    </label>
                </div>
            </div>
            <div id="menu4" ng-class="{active: tabtoshow == 'entrants'}" class="tab-pane fade in">
                <div class="row text-center">
                    <label style="padding: 10px;">
                        <input class="replace" type="radio" ng-model="filtermods.entrants" value="10" ng-checked="true" ng-change="setentrants(0,10)" name="entrantmod">
                        <div></div>  0-10
                    </label>
                    <label style="padding: 10px;">
                        <input class="replace" type="radio" ng-model="filtermods.entrants" value="50" ng-change="setentrants(11,50)" name="entrantmod">
                        <div></div>  11-50
                    </label>
                    <label style="padding: 10px;">
                        <input class="replace" type="radio" ng-model="filtermods.entrants" value="100" ng-change="setentrants(51,100)" name="entrantmod">
                        <div></div>  51-100
                    </label>
                </div>
            </div>
            <div id="menu6" ng-class="{active: tabtoshow == 'type'}" class="tab-pane fade in">

            </div>
            <div id="menu5" ng-class="{active: tabtoshow == 'competitions'}" class="tab-pane fade in" style="background-color: #000;">
                <div class="row leagueFilterRow">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-10 filter-leagues">
                        <ul rn-carousel rn-carousel-controls style="height: 170px; padding-top: 30px;" class="image">
                            <li ng-repeat="league in leagues">
                                <label class="layer">
                                    <input class="custom" type="radio" ng-model="filter.competition" name="league" ng-change="getMatches(contest.match_date)" value="{{league.id}}">
                                    <div class="text-center leaguebox">
                                        <img src="images/{{league.code}}.png" >
                                        <br>
                                        <div style="width: 100%; color: #fff;" ng-bind="league.common_name"></div>
                                    </div>
                                </label>
                            </li>
                        </ul>
                        <div class="row" ng-if="filter.competition">
                            <h4 class="text-center text-uppercase">
                                Pick Matchday
                                <a href="#" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                                    <img src="images/icons/info.png" alt="">
                                </a>
                            </h4>
                        </div>
                        <div class="row text-center" ng-if="filter.competition">
                            <label style="padding: 10px;">
                                <input class="replace" type="radio" ng-checked="true" ng-model="contest.match_date" value="{{today.getUTCFullYear() + '-' + ('0' + (today.getUTCMonth() + 1)).slice(-2) + '-' + ('0' + today.getUTCDate()).slice(-2)}}" ng-change="getMatches(today.getUTCFullYear() + '-' + ('0' + (today.getUTCMonth() + 1)).slice(-2) + '-' + ('0' + today.getUTCDate()).slice(-2), 'today')" name="match_day">
                                <div></div>  Full Round
                            </label>
                            <label style="padding: 10px;" ng-repeat="cdate in dates">
                                <input class="replace" type="radio" ng-model="contest.match_date" value="{{cdate.getUTCFullYear() + '-' + ('0' + (cdate.getUTCMonth() + 1)).slice(-2) + '-' + ('0' + cdate.getUTCDate()).slice(-2)}}" ng-change="getMatches(cdate.getUTCFullYear() + '-' + ('0' + (cdate.getUTCMonth() + 1)).slice(-2) + '-' + ('0' + cdate.getUTCDate()).slice(-2), $index)" name="match_day">
                                <div></div>  {{ days[cdate.getDay()] + ' , ' + cdate.getDate() + '/' + cdate.getMonth()}}
                            </label>
                        </div>
                        <div class="col-md-3" ng-repeat="match in matches" ng-if="filter.competition">
                            <p>
                                {{match.team1.name + ' vs. ' + match.team2.name}}
                                <br>
                                <small>{{match.scheduled_on | date: 'dd-MM-yyyy HH:mm' : match.scheduled_on.getTimezoneOffset().toString()}}</small>
                            </p>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="home" class="col-md-12">
            <div class="tablebox">
                <table class="table table-striped tabtable">
                    <thead>
                    <tr>
                        <th class="first_th">GAME TYPE<span class="caret"></span></th>
                        <th>DURATION<span class="caret"></span></th>
                        <th>ENTRY FEE<span class="caret"></span></th>
                        <th>PRIZE<span class="caret"></span></th>
                        <th>ENTRANTS<span class="caret"></span></th>
                        <th>STARTS IN<span class="caret"></span></th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody class="blod_font">
                    <tr ng-repeat="contest in contests | filter: {competition_id: filter.competition, type: filter.type, start_at: filter.match_date}" >
                        <td ng-click="getContestInfo(contest.id)"><img src="images/f2.png"  class="flag"  />{{(capitalize(contest.type)).replace('_', ' ') + ' - ' + contest.award.name}}</td>
                        <td>one round</td>
                        <td>{{contest.entry_fee}} EUR</td>
                        <td><span class="greenfield">{{(contest.entry_fee * contest.entrants) * 0.9}}</span></td>
                        <td>{{contest.entrant_count + ' / ' + contest.entrants}}</td>
                        <td><span class="redfield" moment-interval="60000">{{(contest.start_at | amUtc | amLocal | amDifference : null : 'minutes' | amDurationFormat: 'minutes')}}</span></td>
                        <td ng-if="!contest.is_user_entrant && contest.status == 'Created'"><button class="greenbtntbl" ng-click="gotoContest(contest)" >Join</button></td>
                        <td ng-if="contest.is_user_entrant && contest.status == 'Created'"><button class="greenbtntbl" ng-click="gotoContest(contest)">Update</button></td>
                        <td ng-if="contest.status == 'Locked'" class="text-center"><h5><span class="glyphicon glyphicon-lock"></span> Locked</h5></td>
                        <td><button class="whitebtntbl" ng-if="contest.is_user_entrant && contest.status == 'Created'" ng-click="leaveContest(contest.id)">Leave</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid footer">
    <div class="footer_container">

        <div class="col-md-3 col-xs-6">
            <h4 class="footerlinkheader">About</h4>
            <ul class="footerlink">
                <li><a  >About Draftbuddies</a></li>
                <li><a  >Contact us</a></li>
                <li><a  >How to play</a></li>
            </ul>
        </div>

        <div class="col-md-3 col-xs-6">
            <h4 class="footerlinkheader">Help</h4>
            <ul class="footerlink">
                <li><a  >Terms of use</a></li>
                <li><a  >Privacy policy</a></li>
                <li><a  >Responsible gaming</a></li>
            </ul>
        </div>

        <div class="col-md-3 col-xs-6">
            <h4 class="footerlinkheader">Social Media</h4>
            <ul class="footerlink">
                <li><a  ><img src="images/fb.png" class="footerlinkicon" />Facebook</a></li>
                <li><a  ><img src="images/tw.png" class="footerlinkicon" />Twitter</a></li>
                <li><a  ><img src="images/insta.png" class="footerlinkicon" />Instagram</a></li>
            </ul>
        </div>

        <div class="col-md-3 col-xs-6">
            <h4 class="footerlinkheader">Available on</h4>
            <ul class="footerlink">
                <li><img src="images/playstore.png" class="appstore"  /> </li>
                <li><img src="images/apple.png"  class="appstore"/> </li>
            </ul>
        </div>

    </div>



</div>
<div class="footerlastimg"><img src="images/footerlast.png" class="img-responsive"> </div>