<div class="container">
    <div class="col-lg-12">
        <div class="myacntpage">
            <h2>Deposit funds</h2>
            <h3>Select deposit method</h3>
            <div class="row">
                <div class="col-md-3 " ng-repeat="method in depositmethods" ng-if="method.code == 'VISA_Electron' || method.code == 'VISA_Debit' || method.code == 'VISA' || method.code == 'Maestro' || method.code == 'MasterCard'">
                    <div class="panel panel-success">
                        <div class="panel-heading panel-normal-heading">
                            <h5 class="text-center" ng-bind="method.name"></h5>
                            <div class="text-center" ng-bind-html="method.icon"></div>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-warning" ng-if="method.depositFee == 'Free'">No Deposit fees</li>
                                <li class="list-group-item" ng-if="!(method.depositFee == 'Free')"><span>Depisit Fee</span><span class="pull-right" ng-bind="method.depositFee"></span></li>
                                <li class="list-group-item"><span>Depisit limit</span><span class="pull-right" ng-bind="method.depositLimit.max" ng-if="method.depositLimit.max < 2147483647"></span><span class="pull-right" ng-if="method.depositLimit.max >= 2147483647">No limit</span></li>
                                <li class="list-group-item"><div style="width: 60%; display: inline-flex;">deposit Processing Time</div><span class="pull-right" style="display: inline-flex;" ng-bind="method.depositProcessingTime"></span></li>
                            </ul>
                            <div style="width: 100%; text-align: center">
                                <button class="btn greenbtn " ng-click="selectPaymentMethod(method.code)">Continue</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid footer">
    <div class="footer_container">

        <div class="col-md-3 col-xs-6">
            <h4 class="footerlinkheader">About</h4>
            <ul class="footerlink">
                <li><a  >About Draftbuddies</a></li>
                <li><a  >Contact us</a></li>
                <li><a  >How to play</a></li>
            </ul>
        </div>

        <div class="col-md-3 col-xs-6">
            <h4 class="footerlinkheader">Help</h4>
            <ul class="footerlink">
                <li><a  >Terms of use</a></li>
                <li><a  >Privacy policy</a></li>
                <li><a  >Responsible gaming</a></li>
            </ul>
        </div>

        <div class="col-md-3 col-xs-6">
            <h4 class="footerlinkheader">Social Media</h4>
            <ul class="footerlink">
                <li><a  ><img src="images/fb.png" class="footerlinkicon" />Facebook</a></li>
                <li><a  ><img src="images/tw.png" class="footerlinkicon" />Twitter</a></li>
                <li><a  ><img src="images/insta.png" class="footerlinkicon" />Instagram</a></li>
            </ul>
        </div>

        <div class="col-md-3 col-xs-6">
            <h4 class="footerlinkheader">Available on</h4>
            <ul class="footerlink">
                <li><img src="images/playstore.png" class="appstore"  /> </li>
                <li><img src="images/apple.png"  class="appstore"/> </li>
            </ul>
        </div>

    </div>



</div>
<div class="footerlastimg"><img src="images/footerlast.png" class="img-responsive"> </div>
